/* General layout */
body {
	padding-top: 50px; /* prevent overlapping navbar, which is 50px high */
}

.navbar {
	margin-bottom: 0px; /* override default 20px bottom margin */
}

/* Loading */
#loading-modal {
    display: none;
    top: 50%;
    left: 50%;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation bar contents */
i {
	color: white;
}

.centerflex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Navigation bar contents */
i {
	color: white;
}

.centerflex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.toggle-items {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav p h1 h6 {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav h1 {
    font-size: 25px;
    color: WHITE;
}

.sidenav h6 {
    font-size: 20px;
    color: WHITE;
}

.sidenav p {
    font-size: 16px;
    color: WHITE;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu-icon {
	padding-right: 10px;
	color: white;
}
