/* General layout */
body {
	padding-top: 50px; /* prevent overlapping navbar, which is 50px high */
}

.navbar {
	margin-bottom: 0px; /* override default 20px bottom margin */
}

/* Loading */
#loading-modal {
    display: none;
    top: 50%;
    left: 50%;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation bar contents */
i {
	color: white;
}

#weather {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

input, textarea {
	background-color: #111111 !important;
	color: #BBBBBB !important;
}